html,
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 1140px;
}

.header {
    background: bisque;
    display: flex;
    justify-content: flex-start;
}

.btn-cart {
    padding: 8px 10px 8px 10px;
    border-color: rgb(158, 158, 231);
}

main {
    padding-top: 10px;
    padding-bottom: 40px;
}

.products {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 450px;
    border: 2px solid rgb(226, 150, 162);
    background-color: rgb(243, 198, 198);
}

img {
    width: 200px;
    height: 300px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
}

.buy-btn {
    padding: 5px 8px 5px 8px;
    border-color: rgb(107, 26, 107);
    background-color: rgb(194, 71, 194);
}

/* footer {
    background-color: blue;
    height: 80px;
} */