body {
    margin: 0 auto;
    max-width: 1140px;
}

.wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.products {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.product-item {
    width: 200px;
    height: 400px;
    border: 1px solid grey;
    background-color: lightgrey;
}

