html,
body {
    margin: 0 auto;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background: rgb(197, 195, 193);
    padding-top: 20px;
    padding-bottom: 20px;
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-cart {
    padding: 10px 10px 10px 10px;
    border: 1px solid grey;
    font-size: 20px;
    transition: 0.3s;
}

.btn-cart:hover {
    background-color: darkgray;
    color: #fff;
}

main {
    flex: 1 1 auto;
    padding-top: 40px;
}

.products {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    padding: 15px 6px 15px 6px;
    border: 1px solid rgb(148, 146, 146);
    background-color: rgb(229, 226, 226);
}

img {
    width: 200px;
    height: 300px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
}

.buy-btn {
    padding: 5px 8px 5px 8px;
    border: 1px solid grey;
    background-color: rgb(143, 142, 143);
    color: #fff;
    transition: 0.2s;
}

.buy-btn:hover {
    background-color: black;
}

footer {
    background-color: rgb(105, 105, 104);
    height: 100px;
}